* {
  margin: 0;
  padding: 0;
  overflow: hidden; }

body {
  background-color: #3a3535; }

.container {
  max-width: 100%;
  min-height: 100%; }
  .container h1 {
    color: whitesmoke;
    text-align: center;
    padding-bottom: 2rem; }
  .container .menu {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center; }
    .container .menu .play, .container .menu .message, .container .menu .easy, .container .menu .hard {
      margin: 0rem 2rem;
      padding: 0.5rem 1rem;
      color: #161616; }
    .container .menu .selected {
      background-color: #1b1bf3;
      color: #ffffff; }
    .container .menu .message {
      color: steelblue; }
    .container .menu .play {
      color: #3520b8; }
      .container .menu .play:hover {
        background-color: #3520b8;
        color: #ffffff; }
    .container .menu .easy:hover, .container .menu .hard:hover {
      background-color: #3520b8;
      color: #ffffff; }
    .container .menu button {
      border: none;
      background: none;
      text-transform: uppercase;
      height: 100%;
      font-weight: 700;
      transition: all 1s; }
  .container .color {
    max-width: 50%;
    min-height: 100%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: space-evenly; }
    .container .color .square {
      max-width: 30%;
      background-color: greenyellow;
      padding: 5rem;
      margin: 1rem;
      border-radius: 2.5rem;
      transition: background 1s; }
